@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fade-in {
    0% {
      width: 30%;
    }
    100% {
      width: 100%;
    }
  }
  
  .animate-fade-in {
    animation: fade-in 1s ease-in-out;
  }
  